.header h2 {
    font-size: 3rem;
}

.header {
    padding: 5px;
    margin-top: 30px;
    height: 7.5rem;
    /* border: 2px solid rebeccapurple; */
    text-align: center;
}

.info {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px
}

.image {
    display: flex;
}

.review {
    font-size: 15px;
}

.review:hover {
    cursor: pointer;
    color: rgb(83, 153, 245);
}